node_modules
bower_components

bin
.classpath
.project
.settings

.gradle
build

.tmp
src/main/resources/frontend/lib
src/main/resources/static

src/test/resources/*
!src/test/resources/test.html
!src/test/resources/jasmine/
